<%- include('../../partials/head.ejs') %> 
<body>
    <%- include('../../partials/navbar.ejs') %>

    <div class="container w-50">
        <div class="card card-color mt-5" >
            <div class="card-title mt-4 text-center">
                <h2>Cadastar categoria</h2>
            </div>

        <div class="card-body text-center ">
            
            <form method="POST" action="/categories/save">
                <input class="form-control w-75 p-2 my-4 m-auto" type="text" name="title" placeholder="Defina o título da categoria">
                <button type="submit" class="btn text-light btn-lilac">Cadastrar</button>
            </form>
            </div>
        </div>
</div>
</body>
<%- include('../../partials/footer.ejs') %> 