<nav class="navbar navbar-expand-lg navbar-light navbarHome text-light">
    <div class="container">
        <a class="navbar-brand text-light" href="/">
            GuiaPress</a>
            <ul class="navbar-nav mr">
                <li class=" nav-item ">
                    <a class="nav-link text-light" href="/">Home</a>
                </li>
            </ul>
    </div>

</nav>
