.form-register{
    background-color: #202024;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    max-width: 500px;
    height: 350px;
    margin-top: 100px;
    
}

.inputDark:not(:placeholder-shown){
    background-color: #121214;
    color: #FFF;

    border-color: #8257E5;
}

.inputDark:placeholder-shown{
    background-color: #121214;
    border-color: #8257E5;
}

.form-position{
    width: 350px;
    margin-top: 50px;

}

@media only screen and (max-width: 990px){
    .img-register{
        display: none;
    }
}